<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_vinilo_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_vinilo_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppMoviles"
        tools:targetApi="31">
        <activity
            android:name=".ui.album.TrackToAlbumActivity"
            android:exported="false"
            android:label="@string/title_activity_track_to_album"
            android:theme="@style/Theme.AppMoviles" />
        <activity
            android:name=".ui.album.AlbumActivity"
            android:exported="false"
            android:label="@string/title_album_list"
            android:parentActivityName=".ui.MenuUsuarioActivity"
            android:theme="@style/Theme.AppMoviles" />
        <activity
            android:name=".ui.performer.PerformerActivity"
            android:exported="false"
            android:label="@string/artistas"
            android:parentActivityName=".ui.MenuUsuarioActivity"
            android:theme="@style/Theme.AppMoviles" />
        <activity
            android:name=".ui.MenuColeccionistaActivity"
            android:exported="false"
            android:label="@string/title_menu_coleccionista"
            android:parentActivityName=".ui.MainActivity"
            android:theme="@style/Theme.AppMoviles" />
        <activity
            android:name=".ui.MenuUsuarioActivity"
            android:exported="false"
            android:label="@string/title_menu_usuario"
            android:parentActivityName=".ui.MainActivity"
            android:theme="@style/Theme.AppMoviles" />
        <activity
            android:name=".ui.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>